.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

ion-avatar {
  width: 80px !important;
  height: 80px !important;
}

ion-card {
  padding: 8px 0;
  border-radius: 15px;
}

ion-item {
  ion-label {
    font-size: 16px;
    font-weight: none;
  }
}

.icon {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
  color: #fff;

  ion-icon {
    font-size: 18px;
  }

  &.save {
    background: #15d76c;
  }

  &.notification {
    background: #ff2e2e;
  }

  &.language {
    background: #932bc4;
  }

  &.question {
    background: #ec8600;
  }
}
