<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-no-padding">
      <div class="header-container ion-padding">
        <ion-avatar aria-hidden="true" class="ion-margin">
          <img alt="profile"
            src="https://static.next-episode.net/actor-images/roles/86/a-female-student-arrives-at-the-imperial-college.sang-qi.jpg" />
        </ion-avatar>
        <h4>Zhao Lusi</h4>
        <p>App ID: 918932</p>
      </div>
    </ion-toolbar>
  </ion-header>
  @for (menu of menuList; track $index) {
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <div class="icon language">
          <ion-icon aria-hidden="true" [name]="menu.icon" slot="start"></ion-icon>
        </div>
        <ion-label>{{menu.label}}</ion-label>
        <div class="flex">
          @if (menu.label === "Language") {
          <ion-label style="color: #dbdbdb;">English</ion-label>
          }
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
  }
</ion-content>