<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-no-padding">
      <div class="header-container ion-padding">
        <ion-avatar aria-hidden="true" class="ion-margin">
          <img alt="profile" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <h4>Dev</h4>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <div class="icon save">
          <ion-icon aria-hidden="true" name="bookmark" slot="start"></ion-icon>
        </div>
        <ion-label [routerLink]="['/favorite']">Saved News</ion-label>
      </ion-item>
      <ion-item>
        <div class="icon notification">
          <ion-icon aria-hidden="true" name="notifications" slot="start"></ion-icon>
        </div>
        <ion-label>Notifications</ion-label>
      </ion-item>
      <ion-item>
        <div class="icon language">
          <ion-icon aria-hidden="true" name="globe" slot="start"></ion-icon>
        </div>
        <ion-label>Language</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <div class="icon question">
          <ion-icon aria-hidden="true" name="chatbubble-ellipses" slot="start"></ion-icon>
        </div>
        <ion-label>Ask a Question</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>