<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-no-padding">
      <div class="header-container ion-padding">
        <ion-avatar aria-hidden="true" class="ion-margin">
          <img alt="profile"
            src="https://static.next-episode.net/actor-images/roles/86/a-female-student-arrives-at-the-imperial-college.sang-qi.jpg" />
        </ion-avatar>
        <h4>Zhao Lusi</h4>
        <p>App ID: 918932</p>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <div class="icon save">
          <ion-icon aria-hidden="true" name="person-outline" slot="start"></ion-icon>
        </div>
        <ion-label>My Profile</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <div class="icon notification">
          <ion-icon aria-hidden="true" name="lock-closed-outline" slot="start"></ion-icon>
        </div>
        <ion-label>Security</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <div class="icon language">
          <ion-icon aria-hidden="true" name="globe" slot="start"></ion-icon>
        </div>
        <ion-label>Language</ion-label>
        <div style="display: flex;">
          <ion-label style="color: #dbdbdb;">English</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <div class="icon language">
          <ion-icon aria-hidden="true" name="call-outline" slot="start"></ion-icon>
        </div>
        <ion-label>Contact Us</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <div class="icon question">
          <ion-icon aria-hidden="true" name="reader-outline" slot="start"></ion-icon>
        </div>
        <ion-label>Term & Condition</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>