.onboarding-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 50px 20px;
  position: relative;
}

.onboarding-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #11234f, #000000);
  z-index: 1;
}

.onboarding-content {
  margin-top: 60px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

img {
  width: 100px;
  height: auto;
  animation: fadeIn 1s ease-in-out;
}

.title {
  font-size: 2rem;
  line-height: 50px;
  font-weight: bold;
  color: white;
  animation: slideUp 1s ease-in-out;
}

.subtitle {
  font-size: 1rem;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.844);
  max-width: 80%;
  animation: fadeIn 1.5s ease-in-out;
}

button {
  width: 250px;
  padding: 14px;
  border: none;
  border-radius: 25px;
  color: #000;
  background: white;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
  position: relative;
  z-index: 2;
}

.sign-up {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.844);

  span {
    margin-left: 5px;
    color: #ffffff;
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
