<ion-content [fullscreen]="true">
  <div class="header ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar class="ion-no-padding">
        <h4>Transactions</h4>
      </ion-toolbar>
    </ion-header>
  </div>
  <h6 class="ion-padding-start ion-no-margin">Today</h6>
  <ion-card class="transaction-content">
    <ion-card-content>
      <ion-list>
        @for (transaction of todayTransactions; track $index) {
        <app-transaction-card [data]="transaction"
          [lastIndex]="todayTransactions.length === 1 || $index === todayTransactions.length - 1"></app-transaction-card>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
  <h6 class="ion-padding-start ion-no-margin">Yesterday</h6>
  <ion-card class="transaction-content">
    <ion-card-content>
      <ion-list>
        @for (transaction of yesterdayTransactions; track $index) {
        <app-transaction-card [data]="transaction"
          [lastIndex]="yesterdayTransactions.length === 1 || $index === yesterdayTransactions.length - 1"></app-transaction-card>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
  <h6 class="ion-padding-start ion-no-margin">01 March</h6>
  <ion-card class="transaction-content">
    <ion-card-content>
      <ion-list>
        @for (transaction of fistOfMatchTransactions; track $index) {
        <app-transaction-card [data]="transaction"
          [lastIndex]="fistOfMatchTransactions.length === 1 || $index === fistOfMatchTransactions.length - 1"></app-transaction-card>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>