.transaction-content {
  ion-card-content {
    padding: 14px;
  }

  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0px;

    .transaction {
      width: 100%;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;
      border-bottom: 0.5px solid #dfdfdf;
    }

    .last-transaction {
      width: 100%;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;
    }
  }
}
