<ion-content [fullscreen]="true">
  <div class="head-content">
    <div class="header ion-padding">
      <ion-buttons>
        <ion-icon name="chevron-back-outline" routerLink="../account-list"></ion-icon>
        <ion-label>Account Details</ion-label>
      </ion-buttons>
    </div>
    <div class="balance ion-padding">
      <div class="acc-type">
        <ion-label class="type">Payroll</ion-label>
        <ion-label class="label-title">019236437 | Payroll</ion-label>
      </div>
      <div class="total-amount">
        <ion-label class="label-title">AVAILABLE BALANCE</ion-label>
        <ion-label class="label-amount">123,456,789,00 USD</ion-label>
        <ion-label class="label-title" [color]="'#000'">Account Balance: 123,456,789,00 USD</ion-label>
      </div>
    </div>
  </div>
  @for (section of transactionSections; track $index) {
  <h6 class="ion-padding-start ion-no-margin">{{ section.title }}</h6>
  <ion-card class="transaction-content">
    <ion-card-content>
      <ion-list>
        @for (transaction of section.transactions; track $index) {
        <app-transaction-card [data]="transaction"
          [lastIndex]="isLastTransaction(section.transactions, $index)"></app-transaction-card>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
  }
</ion-content>