.header {
  height: 60px;
  margin-bottom: 16px;
  background: #11234f;
}

ion-buttons {
  color: #fff;

  ion-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  ion-label {
    font-size: 20px;
  }
}
