.header {
  height: 60px;
  margin-bottom: 16px;
  background: linear-gradient(135deg, #024260, #000000);
}

ion-buttons {
  color: #fff;

  ion-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  ion-label {
    font-size: 20px;
  }
}
